html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

/* //Rimsha css */

.css-19fkt2o-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}


.topUserbar-card-rim {
  background-color: #fff;
  padding: 20px 0px !important;
  border-radius: 0px, 0px, 10px, 10px;

}

.overview-card {
  background-color: #fff;
  padding: 10px;
  margin: 30px 0px 0px 20px !important;
  border-radius: 10px;
}

.dashboard-heading-rim {
  font-size: 30px !important;
  font-weight: 500 !important;
}

@media screen and (max-width: 1900px) {
  .dashboard-heading-rim {
    font-size: 26px !important;
    font-weight: 500 !important;
  }

}

@media screen and (max-width: 1600px) {
  .dashboard-heading-rim {
    font-size: 22px !important;
    font-weight: 500 !important;
  }

}

.overview-logos-rim {
  border-radius: 8px !important;
  background-color: #EEEEEE !important;
  color: #555555 !important;

}

.report-profit-grap-rim {
  background-color: #FFFFFF !important;
  border-radius: 10px !important;
}

.cards-styling-rim {
  height: 100% !important;
  border-radius: 10px !important;
  background-color: #fff !important;
  padding: 20px auto !important;
}

.fixed-height {
  height: 590px;
}

.cat-feedback {
  display: flex !important;
  height: 590px !important;
  flex-direction: column !important;
  justify-content: space-between !important;

}